<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circular Progress Bar using HTML CSS</title>

<link rel="stylesheet" href="progress.css">
</head>
<body>


     <div class="container">
      <div class="circle">
        <div class="inner_text">50 </div>
      </div>
     </div>


	</body>
    <script src="progress.js
    "></script>
</html>
