<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/donor_details.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/id_search.css">
<link rel="stylesheet" href="/table.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>


<body>

    <div class="navbar">
        <div class="nav_items">

            <!-- logo section -->

            <div href="" class="logo"><img src="https://cdn-icons-png.flaticon.com/512/6374/6374296.png" alt=""> Dono
                Red</div>

            <!-- hospital section -->

            <a href="#home" class="hospital_section navbtn"><i class="fa-solid fa-house-medical"></i> hospital</a>

            <!-- donor_section -->

            <div class="dropdown navbtn donor_section">
                <a class="dropbtn"> <i class="fa-solid fa-people-group"></i> donor
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="/donor/add_donors" class="add_donor"><i class="fa-solid fa-person-circle-plus"></i> add
                        donor</a>

                    <a href="/donor/update_donors" class="update"><i class="fa-solid fa-user-pen"></i> updates</a>

                    <a href="/donor/donor_details" class="donor_details"><i class="fa-solid fa-users-rectangle"></i>
                        donor details</a>
                </div>
            </div>

            <!-- donor searching section -->

            <div class="dropdown navbtn search_section">
                <a class="dropbtn "><i class="fa-solid fa-magnifying-glass"></i> donor search
                    <i class="fa fa-caret-down"></i>
                </a>

                <div class="dropdown-content ">
                    <<a href="/search_by_location" class="by_location"><i class="fa-solid fa-magnifying-glass-location"></i> search by
                        location</a>

                    <a href="/search_by_blood_group" class="by-group"><i class="fa-solid fa-droplet"></i> search by blood group</a>
                </div>
            </div>

            <!-- stock section -->

            <a href="/stocks" class="stocks_section navbtn"><i class="fa-solid fa-hand-holding-droplet"></i> stocks</a>

            <!-- delete section -->

            <a href="/reciver" class="delete_section navbtn"><i class="fa-solid fa-user-slash"></i> blocked donor</a>

            <!-- logout section -->

            <a href="/login" class="lagout_section navbtn"><i class="fa-solid fa-right-from-bracket"></i> logout</a>

        </div>
    </div>

    <div class="donor_section">

        <form method="post" action="/donor/donor_details/seen" style="overflow-x:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Adhar No</th>
                        <th>blood donate date</th>
                        <th>donor name</th>
                        <th>Date of birth</th>
                        <th>phone no</th>
                        <th>country</th>
                        <th>State</th>
                        <th>District</th>
                        <th>taluk</th>
                        <th>Pincode</th>
                        <th>address</th>
                        <th>blood type</th>
                        <th>unit of blood</th>
                        <th>old_donate_date</th>
                    </tr>
                </thead>
                <% data.forEach(function(itm,i){ %>
                    <tbody>
                        <tr>
                            <td>
                                <%=data[i].adhar_no %>
                            </td>
                            <td>date</td>

                            <td>
                                <%=data[i].donor_name %>
                            </td>
                            <td>
                                <%=data[i].date_of_birth %>
                            </td>
                           
                            <td>
                                <%=data[i].phone %>
                            </td>
                            <td>
                                <%=data[i].country %>
                            </td>
                            <td>
                                <%=data[i].state %>
                            </td>
                            <td>
                                <%=data[i].district %>
                            </td>
                            <td>
                                <%=data[i].taluk %>
                            </td>
                            <td>
                                <%=data[i].pincode %>
                            </td>
                            <td>
                                <%=data[i].address %>
                            </td>
                            <td>
                                <%=data[i].blood_type %>
                            </td>
                            <td>
                                <%=data[i].unit_of_blood %>
                               
                            </td>
                            <td>
                                <%=data[i].old_donation_date %>
                            </td>

                        </tr>
                    </tbody>
                    <% }); %>
            </table> 
        </form>
           
    </div>


</body>

</html>