* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('https://img.freepik.com/free-photo/world-diabetes-day-docter-holding-stethoscope-red-heart-wooden-shape_1150-26694.jpg?size=626&ext=jpg&ga=GA1.2.1052283121.1661220737'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.donor_container{
    overflow: auto;
    padding: 1rem;
    top: 5rem;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* background-color: rgb(225, 60, 60); */
}




    
*::-webkit-scrollbar {

display: none;
  }
  @media print{
    .nav_body{
        display: none;
    }
    .donor_container{
        top: 10rem;
    }
    
  }



  body .print_sec{
    position: absolute;
    bottom: 0rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

button {
      
    width: 7rem;
    font-size: 1.2rem;
    height: 2.2rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: blue;
    padding: 3px;
    border-radius: 10px;
transition: .5s ease;
    background-size: 400% 400%;
}


button:hover {
    background-color: rgba(41, 41, 231, 0.838);
    cursor: pointer;
}
