
    table {
        position: absolute;
        top: 7rem;
        border-collapse: separate;
        border-spacing: 1rem;
        padding-bottom: 8rem;
        /* border: 1px solid #ddd; */
        background-color: rgba(255, 255, 255, 0.71);
    }

    thead {
        box-shadow: 0 5px 10px rgb(31, 30, 30);
        border: .1rem solid black;
    }

    tbody {
        border: .1rem solid black;
        box-shadow: 0 2px 10px rgb(31, 30, 30);
    }

    th {
        border-left: .1rem solid rgba(187, 183, 183, 0.644);
        height: 1rem;
        padding: .4rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.45rem;
        font-weight: 900;
    }

    td {
        height: 1rem;

        border-left: .1rem solid rgba(187, 183, 183, 0.644);
        font-size: .7rem;
        /* display: flex; */
        text-align: left;
        width: auto;
        padding: .8rem;

    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
